@tailwind utilities;

:root {
    /* Background */
    --st-background-primary: var(--yt-spec-badge-chip-background);
    --st-background-secondary: var(--yt-spec-menu-background);
    --st-background-active: rgba(255, 0, 0, 0.1);
    /* Text colors */
    --st-text-primary: var(--yt-spec-text-primary);
    --st-text-secondary: var(--yt-spec-text-secondary);
    /* Colors */
    --st-spec-outline: var(--yt-spec-outline);
    --st-spec-badge-chip-background: var(--yt-spec-badge-chip-background);
    --st-icon-shape-color: var(
        --ytd-menu-renderer-button-color,
        var(--yt-spec-icon-inactive)
    );
    --st-spec-wordmark-text: var(--yt-spec-wordmark-text);
    --st-spec-button-chip-background-hover: var(
        --yt-spec-button-chip-background-hover
    );
    --st-spec-base-background: var(--yt-spec-base-background);
    --st-spec-menu-background: var(--yt-spec-menu-background);
    /* Fonts */
    --st-font-primary: "YouTube Sans", "Roboto", sans-serif;
    --st-font-secondary: "Roboto", "Arial", sans-serif;
}
