@tailwind utilities;

:root {
    /* Colors */
    --st-playlist-header-background: var(--yt-spec-badge-chip-background);
    --st-text-primary: var(--yt-spec-text-primary);
    --st-text-secondary: var(--yt-spec-text-secondary);
    --st-spec-outline: var(--yt-spec-outline);
    --st-spec-badge-chip-background: var(--yt-spec-badge-chip-background);
    --st-icon-shape-color: var(
        --ytd-menu-renderer-button-color,
        var(--yt-spec-icon-inactive)
    );
    /* Fonts */
    --st-font-primary: "YouTube Sans", "Roboto", sans-serif;
    --st-font-secondary: "Roboto", "Arial", sans-serif;
}
