{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "maxLineLength": 80,
    "overrides": [
        {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["*.md", "*.json", "*.yaml", "*.yml", "*.config.js"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
