{
    "printWidth": 100,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": [
                "*.js",
                "*.jsx",
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": [
                "*.md",
                "*.json",
                "*.yaml",
                "*.yml",
                "*.config.js"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ]
}