<div class="st-playlist">
    <h1 class="st-playlist__title">ShareTube</h1>
    <style>
        .st-playlist {
            min-height: 400px;
            border-radius: 12px;
            border: 1px solid var(--yt-spec-10-percent-layer);
            overflow: hidden;
            box-sizing: border-box;
            margin: 0 0 8px;
        }

        .st-playlist__title {
            padding: 12px 6px 4px 16px;
            width: 100%;
            box-sizing: border-box;
            color: var(--yt-endpoint-color, var(--yt-spec-text-primary));
            background-color: rgba(255, 255, 255, 0.14);
        }
    </style>
</div>
