<div class="st-popup">
    <button class="st-popup__button" id="st-copy-link__button">Copy Link</button>
    <button class="st-popup__button" id="st-create-room__button">Create Room</button>
    <style>
        #st-copy-link__button{
            display: none;
        }

        .st-popup {
            /* position: fixed; */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* z-index: 1000; */
        }
    </style>
</div>
